<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./partials/head.ejs') %>
    <title>Add New Blog</title>
  </head>
  <body>
    <%- include('./partials/nav.ejs') %> <%= JSON.stringify(user) %>

    <div class="container mt-4">
      <form action="">
        <div class="mb-3">
          <label for="title">Title</label>
          <input
            type="text"
            class="form-control"
            id="title"
            name="title"
            aria-describedby="title"
          />
        </div>
      </form>
    </div>
  </body>
  <%- include('./partials/script.ejs') %>
</html>
